.container {
    width:900px;
    height:700px;
    background-color: bisque;
    box-shadow: 3px 3px 3px 3px gray;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
   /* align-items: center; */
    align-content::flex-start;
    flex-wrap: wrap;
    flex-grow: 1;  
}


.div {
width: 250px;
height:100px;
background-color: indianred;
border-radius: 5px;
margin:20px;

}
.div:nth-child(2) {
    background-color: lawngreen;
}

.para {
text-align: center;
padding:45px;
color: lavenderblush;

}